<form method="post" action="{{ path('success_delete', {'id': success.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce succes ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ success.id) }}">
    <button class="btn">Supprimer</button>
</form>
