{% extends 'base.html.twig' %}

{% block title %}Edit Success{% endblock %}

{% block body %}
    <h1>Edit Success</h1>

    {{ include('success/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('success_index') }}">back to list</a>

    {{ include('success/_delete_form.html.twig') }}
{% endblock %}
