{% extends 'base.html.twig' %}

{% block title %}Nouveau succes{% endblock %}

{% block body %}
    <h1>Création d'un nouveau succes</h1>

    {{ include('success/_form.html.twig') }}

    <a href="{{ path('success_index') }}">Retour à la liste</a>
{% endblock %}
