{% extends 'base.html.twig' %}
        
{% block title %}Bienvenu!{% endblock %}

{% block body %}
<style>
    .fill { background-image: url('{{asset('public/images/sj-objio-tLPZmcu-JPc-unsplash.jpg')}}'); }
    a { color: #F5F5F5; }
</style>

<div class="fill">
    <h1> Bienvenu ! </h1>
    <button class="btn btn-primary"> <a href="{{ path('security_login') }}">Se connecter</a></button>
    <button class="btn btn-primary"> <a href="{{ path('security_registration') }}">S'enregistrer</a></button>
</div>
{% endblock %}