{% extends 'base.html.twig' %}

{% block title %}Modification d'un challenge{% endblock %}

{% block body %}
    <h1>Modification d'un challenge</h1>

    {{ include('challenge/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('challenge_index') }}">Retour à la liste</a>

    {{ include('challenge/_delete_form.html.twig') }}
{% endblock %}
