{% extends 'base.html.twig' %}

{% block title %}Nouveau challenge{% endblock %}

{% block body %}
    <h1>Création d'un nouveau challenge</h1>

    {{ include('challenge/_form.html.twig') }}

    <a href="{{ path('challenge_index') }}">Retour à la liste</a>
{% endblock %}
