{% extends 'base.html.twig' %}

{% block title %}Nouvel item{% endblock %}

{% block body %}
    <h1>Création d'un nouvel item</h1>

    {{ include('item/_form.html.twig') }}

    <a href="{{ path('item_index') }}">Retour à la liste</a>
{% endblock %}
